header {
  font-size: 18px;
  font-weight: bold;

  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #7f265b !important;
  border-color: #7f265b !important;
}

.ant-checkbox-checked:hover .ant-checkbox-inner {
  background-color: #7f265b !important;
  border-color: #7f265b !important;
}
